@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    background-color:#FEFAE0;
}

#navbar {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    text-align: right;
}

.index_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.btn_index {
    border: solid 2px;
    border-radius: 15px;
    box-shadow:5px 5px rgb(69, 69, 69);
    margin-top: 20px;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 300px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.btn_index:active {
    box-shadow: none;
    transform: 0.2s all;
}

#meal {
    background-color: #FFD000;
}

#meal:hover{
    background-color:whitesmoke;
}

#workout{
    background-color: #EE8CD8;
}

#workout:hover{
    background-color:whitesmoke;
}

#activity{
    background-color: #00F99F;
}

#activity:hover{
    background-color:whitesmoke;
}

#cookie {
    background-color: #00BBF9;
}

#cookie:hover{
    background-color:whitesmoke;
}

a {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

ul, li {
    list-style-type:none;
    display: inline;
    margin-right: 10px;
}
  
p {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-top: 40px;
  }

.cookie_logo {
    display: block;
    margin-left: auto;
	margin-right: auto;
    width: 350px;
}

.cookie_prompt {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px #ffcc6e;
}

.btn_cookie{
    border: solid 2px;
    border-radius: 15px;
    box-shadow:5px 5px rgb(69, 69, 69);
    margin-top: 20px;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

#btn_cookieColor {
	background-color: rgb(155, 220, 115);
}

.btn_cookie:active {
    box-shadow: none;
    transform: 0.2s all;
}

#btn_cookieColor:hover {
    background-color:rgb(224, 243, 58);
}

#btn_homeColor:hover {
	background-color:rgb(169, 228, 222)
}

#myModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 120px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 15px;;
    width: 60%;
}

#msg_after {
	display: none;
}

.close {
    float: right;
    color: rgb(69, 69, 69);
	font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	cursor: pointer;
}
