@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


#navbar {
    position: absolute;
    /* float: right; */
    right: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    text-align: right;
    
}

a {
    text-decoration: none;
    color: rgb(69, 69, 69);
}

ul, li {
    list-style-type:none;
    display: inline;
    margin-right: 10px;
}

p {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-top: 40px;
  }

.footer_container {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

*{
    box-sizing: border-box;
}

body {
    background-color: #FEFAE0;
}

.wheel {
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.wheelContainer{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #000000;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.wheelContainer div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:18px;
	font-weight:bold;
	font-family:'Roboto Mono', monospace;;
	color:#fff;
  /* text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3); */
  text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
	left:135px;
}
.wheelContainer .one {
    background-color: #448aff;
    left: 50%;
}

.wheelContainer .two {
    background-color: #1565c0;
    transform: rotate(45deg);
}

.wheelContainer .three {
    background-color: #009688;
    transform: rotate(90deg);
}

.wheelContainer .four {
    background-color: #8bc34a;
    transform: rotate(135deg);
}

.wheelContainer .five {
    background-color: #ffc107;
    transform: rotate(180deg);
}

.wheelContainer .six {
    background-color: #FEE440;
    transform: rotate(225deg);
}

.wheelContainer .seven {
  background-color: #f44336;
  transform: rotate(270deg);
}

.wheelContainer .eight {
  background-color: #ad1457;
  transform: rotate(315deg);
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #000000;
    text-transform: uppercase;
    border: 8px solid #FEFAE0;
    font-weight: bold;
    font-size: 20px;
    color: #FEFAE0;
    /* text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3); */
    text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
    width: 80px;
    height: 80px;
    font-family: 'Roboto Mono', monospace;;
    border-radius: 50%;
    cursor: pointer;
    outline:none;
    letter-spacing: 1px;
} 

#spin:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style:  solid;
  border-width: 0 20px 28px 20px;
  border-color: transparent transparent #FEFAE0 transparent;
  top: -28px;
  left: 12px;
}

.btns {
    position: absolute;
    display: block;
    top: 50%; right: 100px;
    /* display: inline-block; */
    margin-top: 100px;
}

.btn_index {
    display: inline-block;
    border: solid 2px;
    border-radius: 15px;
    box-shadow:5px 5px rgb(69, 69, 69);
    margin-top: 20px;;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    width: 300px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.btn_index:active {
    box-shadow: none;
    transform: 0.2s all;
}
#meal {
    background-color: #FFD000;
}

#meal:hover{
    background-color:whitesmoke;
}

#workout{
    background-color: #EE8CD8;
}

#workout:hover{
    background-color:whitesmoke;
}

#activity{
    background-color: #00F99F;
}

#activity:hover{
    background-color:whitesmoke;
}

#cookie {
    background-color: #00BBF9;
}

#cookie:hover{
    background-color:whitesmoke;
}



